<div>
  <div>
    <h1>
      <%= @the_board.name %> 
    </h1>

    <hr>
    
  </div>
</div>

<hr>
<h2> Add a new post</h2>
<form action="/insert_post" method="post"> 
  <div>
  <label for="field_title" >Title</label>
  <input id="field_title" type="text" name="query_title">
  </div>
  <div>
  <label for="field_body" >Body</label>
  <textarea id="field_body" cols="30" rows="10" name="query_body"> </textarea>
  </div>
  <div>
  <label for="field_expires" >Expires on</label>
  <input id="field_expires" type="date" name="query_expires_on">
  </div>
  <button>Add post
  </button>
</form>

<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<hr>
